*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
background-color: gray;
}

.container h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 80vh;
    position:relative;
    display: flex;
    justify-content: center;
}

.container h1{
    align-items:baseline;
    justify-content: center;
}

.cadastramento-tarefa{
    position:absolute;
    padding: 16px;
    top: 15%;
    left:50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

.cadastramento-tarefa input{
    height: 30px;
    width: 500px;
}

.container h1{
    padding: 16px;
}

button{
    background-color: green;
    color: white;
    height: 30px;
    width: 100px;
    border: none;
}