*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: rgb(218, 218, 206);
}

header h1{
    padding: 30px;
    text-align: center;
}

.container{
    position:relative;
    padding: 30px ;
}

#cadastramento-tarefa{
    position:absolute;
    display: flex;
    top: 15%;
    left:50%;
    transform: translate(-50%, -50%);
}

input{
    width: 400px;
    height: 30px;
    border:none;
}

input:focus{     
    outline: none; 
}

button{
    background-color: green;
    color: white;
    margin-left: 16px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.novos-itens ul{
    padding: 10px 0;
    text-align: center;
    list-style-type:decimal;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    max-height: 240px;
}

.novos-itens ul li{
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-style: italic;
}

a{
    text-decoration: none;
    color: black;
}

.riscado{
    text-decoration: line-through;
}

